
<html>
<body>
    <h3>Modelo Predictivo de headshots</h3>

<div>
  <form action="/result_h" method="POST">
    <label for="total_kills">Total de kills por el jugador en la ronda: </label>
    <input type="number" id="total_kills" name="total_kills">
    <br>
    <label for="player_money">Dinero del jugador al comienzo de la ronda: </label>
    <input type="number" id="player_money" name="player_money">
    <br>
    <label for="arma">Arma (0: Pistola, 1: SMG, 2 Heavy, 3: AR, 4: Sniper): </label>
    <input type="number" id="arma" name="arma">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>